.MuiPaper-root {
    margin: 0 auto;
}

.btn-class.MuiButton-root {
    border: unset !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #00b464 !important;
    color: #ffffff;
    box-shadow: unset;
    text-transform: none;
}

.menu-tab {
    min-width: 900px;

}

.btn-class.MuiButton-root :hover {
    box-shadow: unset;
}

.MuiPaper-root.MuiTableContainer-root {
    min-width: 800px !important;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12)
}

.MuiTypography-h5.main-title {
    color: #00b464 !important;
}

.MuiCardContent-root {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiPaper-root.MuiCard-root {
    box-shadow: 0px 25px 30px rgba(112, 136, 210, 0.2);
    margin-top: 60px;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    top: 174 !important;
}

.btn-class-default.MuiButton-root {
    border: unset !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #e7e7f0 !important;
    color: #000;
    box-shadow: unset;
    text-transform: none;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
    font-weight: bold;
}

.btn-class-default.MuiButton-root :hover {
    box-shadow: unset;
}

.max-width-in {
    padding-left: 40px;
}

.MuiDialog-paperWidthSm {
    max-width: 650px !important;
    width: 100% !important;
    border-radius: 20px !important;
    padding: 20px;
}

.check-funds .MuiFormControl-root {
    width: 170px;
}

.MuiPaper-root.MuiCard-root {
    max-width: 950px;
    width: 100%;
}

.login-button {
    list-style: none !important;
    text-decoration: none !important;
}

.table-loader {
    color: #00b464 !important;
    position: relative;
    margin: 20% auto 10% auto;
    left: 142%;
}

html {
    overflow-x: hidden;
}

.modal-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #212B36;
}

.modal-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #014077;
}